#main{
    margin: 0 auto;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(83, 83, 94);
}

#gridImages{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 35px;
    justify-content: space-between;
}

figure{
    width: 150px;
    background-color: rgba(184, 203, 238, 0.479);
    border-radius: 10%;
    margin: 0;
}

figure img{
    background-color: cornflowerblue;
    border-radius: 10% 10% 0 0;
}

figure figcaption{
    text-align: center;
}

@media (max-width:460px){
    #gridImages{
        grid-template-columns: repeat(1,150px);
        justify-content: center;
    }
    #heading{
        text-align: center;
    }
    #paragraph{
        text-align: justify;
    }
}

@media (min-width:460px) and (max-width:950px){
    #gridImages{
        grid-template-columns: repeat(3,150px);
    }}
    