body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 10px auto;
}

#header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px black solid;
    color: darkred;
    padding-bottom: 10px;
}

#nav {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    font-size: larger;
}

#nav ul {
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: darkred;
}

#nav li {
    padding-bottom: 10px;
}

#section {
    display: inline-block;
    width: 60%
}

#footer {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
  }

  th {
    padding: 12px;
  }

  td {
    padding: 12px;
  }

  th,
  td {
    border: solid 1px #e6e6e6;
  }

  tr {
    background-color: #EDEDED;
  }

  tr.even {
    background-color: #F7F7F7;
  }

  #heading {
    background-color: #bb3333;
    color: white;
  }
  
  #p1916 {
      float: left;
      margin-right: 5px;
  }